# Copy the group key into the workspace-level ../.env as MISTRAL_API_KEY.
LLM_PROVIDER=openai_compatible
LLM_BASE_URL=http://80.151.131.52:9839/v1
MISTRAL_API_KEY=

PLANNER_MODEL=mistral-small-3-2
MAPPER_MODEL=ministral-3b-2512
ANSWER_MODEL=mistral-small-3-2
VERIFIER_MODEL=mistral-small-3-2

MAX_CONCURRENT_REQUESTS=2
QUESTION_BATCH_SIZE=8
EVALUATION_MODE=true
